
services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB_ADMIN?Variable not set}
      POSTGRES_USER: ${POSTGRES_USER_ADMIN?Variable not set}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_ADMIN?Variable not set}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    command: >
      postgres
      -c hba_file=/etc/postgresql/pg_hba.conf
      -c listen_addresses='*'
#      -c config_file=/etc/postgresql/postgresql.conf
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER_ADMIN} -d ${POSTGRES_DB_ADMIN}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  minio:
    image: minio/minio:latest
    container_name: minio
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER?Variable not set}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD?Variable not set}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: minio server /data --console-address ":9001"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 10s

  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: fastapi_app
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=postgres
      - MINIO_SERVER=minio
      - MINIO_PORT=9000
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - storage_data:/app/storage
      - ./.env:/app/.env:ro
    working_dir: /app    
    command: ["granian", "src.main:app", "--host", "0.0.0.0", "--port", "8000", "--workers", "3", "--interface", "asgi", "--log-level", "info", "--access-log"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/system/health')"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

volumes:
  postgres_data:
  storage_data:
  minio_data:
