version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB_ADMIN?Variable not set}
      POSTGRES_USER: ${POSTGRES_USER_ADMIN?Variable not set}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_ADMIN?Variable not set}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf
    command: >
      postgres
      -c hba_file=/etc/postgresql/pg_hba.conf
      -c listen_addresses='*'
    restart: unless-stopped

  api:
    image: python:3.11-slim
    container_name: fastapi_app
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    working_dir: /app
    command: >
      granian src.main:app \
        --host 0.0.0.0 \
        --port 8000 \
        --workers 1 \
        --interface asgi \
        --log-level info \
        --access-log \
        --reload

volumes:
  postgres_data:
